*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #4455aa, #ddffdd);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  border: 1px solid white;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.55);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.88);
}

.span-two {
  grid-column: span 2;
}

.outcome {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.88);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
}

.outcome .previous-operand {
  color: #cdddcc;
  font-size: 1.5rem;
}
.outcome .current-operand{
    color: #ccddee;
    font-size: 2rem;
}
